* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, system-ui;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */

.header {
    display: flex;
    flex-direction: column;
    padding: 32px 295px;
    background-color: #1f2937;
    color: #f9faf8;
}

.header-box-one, 
.header-box-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box-two {
    gap: 40px;
    margin-top: 80px;
}

.header-container,
.placeholder {
    flex: 1;
}

.header-container h1 {
    padding-bottom: 8px;
}

.header-container p {
    padding-bottom: 8px;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 180px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

/* section one */

.section-one {
    padding: 32px 295px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding-bottom: 80px;
}

.section-one h2 {
    font-size: 30px;
}

.card-container {
    display: flex;
    gap: 40px;
}

.card {
    width: 150px;
    text-align: center;
}

.boxes {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

/* section two */

.section-two {
    padding: 80px 295px;
    background-color: #d2d4da;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inspiring-quote {
    width: 690px;
    font-size: 30px;
    font-style: italic;
    color: #4a4a4a;
}

.quote-author {
    font-weight: bold;
    align-self: flex-end;
    padding-right: 85px;
}